html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background: url("../images/rust-copy3.png") no-repeat center center fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.inner {
  margin-top: 15%;
}

h1 {
  font-size: 10vw;
  font-weight: 100px;
  text-shadow: -1px -1px 0 rgb(109, 100, 89);
}

.lead {
  font-size: 6vw;
  text-shadow: -1px -1px 0 rgb(109, 100, 89);
  color: white;
  font-family: "Rasa", serif;
  font-weight: 300;
}

a,
a:hover {
  color: gray;
}

.samples {
  text-decoration: none;
  width: 200px;
  height: 50px;
  font-size: 2.5vh;
}

#search {
  margin-top: 350px;
}

.work {
  display: flex;
  flex-direction: row;
  border: black 1px;
  justify-content: space-around;
}

.clip,
.btn-primary {
  width: 400px;
  height: 300px;
  text-align: center;
  background-color: gray;
}

#image {
  width: 700px;
  height: 600px;
  text-align: center !important;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: transparent;
}

.modal-title {
  color: gray;
  font-size: 3vh;
}

iframe {
  width: 700px;
  height: 600px;
  text-align: center !important;
  border: black;
  margin-left: 50px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}

i {
  font-size: 4vw;
  color: white;
  text-shadow: -0.5px -0.5px 0 rgb(55, 50, 44);
}

.info {
  font-size: 3vw;
  text-shadow: -0.5px -0.5px 0 rgb(55, 50, 44);
}

@media only screen and (max-width: 768px) {
  /* For tablets: */

  .inner {
    margin-top: 20%;
  }

  .contact {
    margin-top: 10%;
  }

  .work {
    display: flex;
    flex-direction: column;
    border: black 1px;
    justify-content: center;
    align-items: center;
  }

  #image {
    width: auto;
    height: 500px;
    text-align: center;
    margin-top: 20px;
  }

  #jsimage {
    width: auto;
    height: 500px;
    text-align: center;
    margin-top: 20px;
  }

  iframe {
    width: 498px !important;
    height: auto;
    border: black;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */

  .inner {
    margin-top: 40%;
  }

  .contact {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }

  .work {
    display: flex;
    flex-direction: column;
    border: black 1px;
    justify-content: center;
    align-items: center;
  }

  #image {
    width: auto;
    height: 500px;
    text-align: center;
    margin-top: 20px;
  }

  #jsimage {
    width: auto;
    height: 500px;
    text-align: center;
    margin-top: 20px;
  }

  iframe {
    width: 398px !important;
    height: auto;
    border: black;
    text-align: center;
  }
}
